# Laravel
/backend-api/vendor/
backend-api/storage/
/backend-api/.env

# Angular
/frontend-project/node_modules/
/frontend-project/dist/
/frontend-project/.env
/frontend-project/.angular/

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
