.example-full-width {
    width: 75%;
}

.error {
    color: red;
    padding: 5px;
}

.half-widht {
    width: 25%;
    padding: 5px;
}

.half-width:last-child {
    margin-left:20px;
}

.full-width {
    width: 40%;
}